{% extends 'template.html'%}
{% load static %}

{% block content %} 
    <div class="container"> <br>
        <h2>Hello {{username}}! </h2>
        <img src="{% static 'img/meow.jpg' %}" alt="" class="center-block" width="70px" height="70px">
    </div>
{% endblock %}