{% extends 'template.html'%}
{% load static %}

{% block content %} 
    <div class="container"> <br>
        
        {% if user.is_authenticated%}
            <a class='float-right' href='logout'>Logout</a>
            <h2>Hello {{user.first_name}}! </h2>
        {% else %}
            <a class='float-right' href='register'>Sign up</a>
            <a class='float-right' href='login' style="margin-right: 5px;">Login</a>
            <h2>Hello Guest! </h2>
        {% endif %}
        <img src="{% static 'img/meow.jpg' %}" alt="" class="center-block" width="70px" height="70px">
    </div>
{% endblock %}