{% extends 'template.html' %}

{% block content %}

<div class="container">
    <br><br>
    <h1 class="text-center">Login</h1>
    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for msg in messages%}
            <strong>{{ msg }}</strong>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form action="login" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="username" placeholder="Username"> <br>
        <input class="form-control" type="password" name="password" placeholder="Password"> <br>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <br>
    <p>No account? Click <a href="register">here.</a></p>
</div>

{% endblock %}