{% extends 'template.html'%}
{% load static %}

{% block content %} 
<div class="container">
    <br><br>
    <h1 class="text-center">Registration</h1>
    <br>
    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for msg in messages%}
            <strong>{{ msg }}</strong>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form action="register" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="first_name" placeholder="First Name"> <br>
        <input class="form-control" type="text" name="last_name" placeholder="Last Name"> <br>
        <input class="form-control" type="text" name="username" placeholder="Username"> <br>
        <input class="form-control" type="password" name="password" placeholder="Password"> <br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <br>
    <p>Already have an account? Click <a href="/">here</a> to log in.</p>
</div>
{% endblock %}