{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.0.min.css' %}">
    <title>{{title}}</title>
</head>
<body>
    {% block content%}

    {% endblock%}
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper-1.12.9.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.0.min.js' %}"></script>
</body>
</html>
